{% extends 'base.html' %}

{% block style %}
    <style>      
        li span {
            color: black;
        }
    </style>

{% endblock %}

{% block content %}
    <h2>Наименование: {{ item.name }}</h2><br>
    Бренд: {{ item.brand }}<br>

    <div>
        Количество: {{ item.count | default:'Товар отсутствует на складе'}}
    </div>
    
    <br>
    Доступные цвета:
    <ul>
        {% if colors %}
            {% for color in colors %}
                <li type="square" style="color:{{ color.name }}"><span>{{ color.name }}</span></li>
            {% endfor %}
        {% else %}
            Информация по цветам отсутствует
        {% endif %}
    </ul>
    <br>

    <a href={% url 'items_list'%}> Назад к списку товаров </a>
    
{% endblock %}